* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;

}

body {
    position: absolute;
    background: url(img/imagem\ de\ fundo.png);
    background-size: cover;

}

.linha-branca-top {

    background-color: #EBEBF2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
}

header {
    background-color: #1D3159;
    width: 100%;
    color: white;
    height: 300px;
    font-size: 40px;
    text-align: center;
    word-spacing: 2px;
    justify-content: center;


}

.linha-branca {

    background-color: #EBEBF2;
    position: absolute;
    top: calc(300px + 2px);
    width: 100%;
    height: 10px;

}

nav {
    background: #5D6C8C;
    display: flex;
    justify-content: center;
    padding: 30px;
    word-spacing: 2px;
    font-size: 200px;
    cursor: pointer;

}

.navegar {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-size: 50px;
    word-spacing: 2px;
    cursor: pointer;
    display: flex;

}

.linha-branca2 {

    background-color: #EBEBF2;
    position: absolute;
    top: calc(300px + 130px);
    width: 100%;
    height: 20px;
}

article {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 400;

}

.texto-descricao {

    background: #A7CFF2;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1D3159;
    font-size: 60px;
    text-align: center;

}

.servicosoferecidos {
    background: #A7CFF2;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 50px;
    font-weight: 400;

}

h3 {
    color: #1D3159;
    font-size: 60px;
}

ul {
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    color: #181426;

}

aside {

    position: absolute;
    left: 30%;
    width: auto;
    height: 600px;
    margin-top: 150px;
    border-radius: 30px;
}

.link-paginas {


    position: relative;
    text-decoration: underline;
    font-size: 60px;
    margin-bottom: 90px;
    font-weight: bold;
    color: #EBEBF2;
    text-align: center;
    text-shadow: 30px 20px 10px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.voltar-para-pagina-principal {
    position: relative;

    top: calc(600px + 50px);
    font-size: 40px;
    color: #EBEBF2;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer;

}

footer {
    position: relative;
    width: 100%;
    top: calc(600px + 150px);
    margin-bottom: 1px;
    display: flex;
    background: #5D6C8C;
    height: auto;

}

.titulo-rodape {
    margin: 3px 300px 6px 8px;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
    height: 400;
    display: block;
    font-size: 50px;
    color: #181426;
}

.contactos {

    margin-top: 40px;
    margin-right: 50px;
    font-size: 30px;
    border: 2px;
    color: #181426;
    word-spacing: 2px;
    cursor: pointer;
    display: block;

}

.titulo-rodape {
    margin: 3px 300px 6px 8px;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
    height: 400;
    display: block;
    font-size: 50px;
    color: #181426;
}

.contactos {

    color: white;
    margin-top: 40px;
    margin-right: 50px;
    font-size: 30px;
    border: 2px;
    color: #181426;
    word-spacing: 2px;
    cursor: pointer;
    display: block;

}

.linkfooter {

    color: #EBEBF2;
}

@media screen and (max-width: 620px) {

    body {
        position: absolute;
        width: 100%;
        background-image: none;
        background-color: rgba(18, 42, 89, 0.08);
    }

    .linha-branca-top {
        height: 10px;

    }

    header {
        font-size: 20px;
        height: 150px;
    }

    .linha-branca {
        top: calc(150px + 2px);
        height: 3px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navegar {
        font-size: 25px;
        margin-right: 20px;
        cursor: pointer;

    }

    .linha-branca2 {
        display: none;
    }

    article {

        margin: 20px;
    }

    .texto-descricao {
        background-color: rgba(167, 207, 242, 0.5);
        width: 100%;
        font-size: 30px;
        margin-left: 0;
        margin-right: 0;

    }

    h2 {
        font-size: 35px;
    }

    .servicosoferecidos {
        background-color: rgba(167, 207, 242, 0.5);
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    h3 {
        font-size: 35px;
    }

    ul {
        font-size: 30px;
        margin-left: 20px;

    }

    aside {

        display: block;
        height: 300px;
        width: 400px;
        margin-top: 5px;
        justify-items: center;
        background-color: rgba(167, 207, 242, 0.9);

    }

    .link-paginas {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;

        font-size: 50px;
    }

    .voltar-para-pagina-principal {
        top: 300px;
        margin-bottom: 0px;
        background-color: #122A59;
        font-size: 20px;
    }

    footer {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .titulo-rodape {
        display: none;
    }

    .contactos {
        font-size: 20px;
        margin: 10px;
    }
}